<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Funcionário</title>


    <link rel="stylesheet" th:href="@{css/style functionary.css}">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }

    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main">
        <h2>Cadastrar jogo</h2>

        <form  method="post" action="/ControleFuncionario">
            <input type="text" class="formInput" placeholder="Nome do Jogo" name="title">
            <br>
            <input type="date" class="formInput" placeholder="Data de Lançamento" name="releaseDate">
            <br>
            <input type="text" class="formInput" placeholder="Restrição de Idade" name="minimumAge">
            <br>
            <input type="text" class="formInput" placeholder="Preço" name="priceInCents">
            <br>
            <input type="text" class="formInput" placeholder="Plataforma" name="platforms[]">
            <br>
            <input type="text" class="formInput" placeholder="Generos" name="genres[]">
            <br><br>

            <label for="opctionAction">Ação</label>
            <input type="checkbox" class="opction" id="opctionAction">
            <label for="opctionHorror">Terror</label>
            <input type="checkbox" class="opction" id="opctionHorror">

            <br>
            <label for="opctionLove">Romance</label>
            <input type="checkbox" class="opction" id="opctionLove">
            <label for="opctionSimulation">Simulação</label>
            <input type="checkbox" class="opction" id="opctionSimulation">

            <br>
            <label for="opctionFantasy">Fantasia</label>
            <input type="checkbox" class="opction" id="opctionFantasy">
            <label for="opctionAdventure">Aventura</label>
            <input type="checkbox" class="opction" id="opctionAdventure">

            <button class="btn" type="submit">
                <strong>ENVIAR</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>

                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
        </form>


        <hr>


        <form>
            <h2>Atualizar Jogo</h2>
            <input type="text" class="formInput"  placeholder="Nome do Jogo">
            <br>
            <input type="text" class="formInput" placeholder="Data de Lançamento">
            <br>
            <input type="text" class="formInput" placeholder="Restrição de Idade">
            <br>
            <input type="text" class="formInput" placeholder="Preço">
            <br><br>

            <label for="opctionAction">Ação</label>
            <input type="checkbox" class="opction" id="opctionAction">
            <label for="opctionHorror">Terror</label>
            <input type="checkbox" class="opction" id="opctionHorror">

            <br>
            <label for="opctionLove">Romance</label>
            <input type="checkbox" class="opction" id="opctionLove">
            <label for="opctionSimulation">Simulação</label>
            <input type="checkbox" class="opction" id="opctionSimulation">

            <br>
            <label for="opctionFantasy">Fantasia</label>
            <input type="checkbox" class="opction" id="opctionFantasy">
            <label for="opctionAdventure">Aventura</label>
            <input type="checkbox" class="opction" id="opctionAdventure">


            <button class="btn" type="submit">
                <strong>ENVIAR</strong>
                <div id="container-stars2">
                    <div id="stars2"></div>
                </div>

                <div id="glow2">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
        </form>


        <hr>

        <h2>Atualizar Funcionário</h2>

        <form>
            <input type="text" class="formInput" placeholder="ID">
            <br>
            <input type="text" class="formInput" placeholder="Nome">
            <br>
            <input type="text" class="formInput" placeholder="Telefone">
            <br>
            <input type="text" class="formInput" placeholder="Endereço">

            <button class="btn" type="submit">
                <strong>ENVIAR</strong>
                <div id="container-stars3">
                    <div id="stars3"></div>
                </div>

                <div id="glow3">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
        </form>

        <br><br>

        <br>
    </div>
</body>

</html>