<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{css/estilo navegador.css}">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador" class="botaoLogin"><a th:href="@{login}" class="ativo">Login</a></li>
        </ul>
    </div>

    <img th:src="@{img/Logo.jpeg}" id="logo">

    <div id="cabecalho">
        <h1>Olá <i>"Player"</i></h1>
        <h2>Bem vindo ao Pixel Paradise</h2>
    </div>

    <br>

    <div>
        <div id="MainGames">
            <h1>Jogos em alta</h1>
        </div>

        <ul class="livro">
            <li id="exposicao"><img th:src="@{img/Devil May Cry.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Skyrim.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Spider Man.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Dragon Ball kakarot.jpg}"></li>
        </ul>

        <ul class="livro">
            <li id="exposicao"><img th:src="@{img/AC Valhalla.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Red Dead Redeption 2.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/AC Odyssey.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/AC Black Flag.jpg}"></li>
        </ul>
    </div>

    <div class="listGames">
        <table>
            <thead>
            <tr>
                <th>NOME</th>
                <th>ANO</th>
                <th>RESTRIÇÃO</th>
                <th>PREÇO</th>
            </tr>
            </thead>
            <tbody th:each="game : ${listGames}">
                <tr>
                    <td th:text="${game.title}"></td>
                    <td th:text="${game.releaseDate}"></td>
                    <td th:text="${game.minimumAge}"></td>
                    <td th:text="${game.priceInCents}"></td>
                </tr>
            </tbody>

        <!--
        <span>Plataformas Disponíveis</span>
        <span th:text="${game.nome}"></span>

        <span>Gêneros</span>
        <span th:text="${game.nome}"></span>
        -->
    </div>
</body>
</html>