<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../../static/css/estilo%20navegador.css">
</head>
<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador" class="botaoLogin"><a href="loginPage.html" class="ativo">Login</a></li>
        </ul>
    </div>

    <img src="../../static/img/Logo.jpeg" id="logo">

    <div id="cabecalho">
        <h1>Welcome <i>"Player"</i></h1>
        <h2>Bem vindo ao Pixel Pardise</h2>
    </div>

    <div>
        <div id="MainGames">
            <h1>Jogos em alta</h1>
        </div>

        <ul class="livro">
            <li id="exposicao"><img src="../../static/img/Devil%20May%20Cry.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Skyrim.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Spider%20Man.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Dragon%20Ball%20kakarot.jpg"></li>
        </ul>

        <ul class="livro">
            <li id="exposicao"><img src="../../static/img/AC%20Valhalla.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Red%20Dead%20Redeption%202.jpg"></li>
            <li id="exposicao"><img src="../../static/img/AC%20Odyssey.jpg"></li>
            <li id="exposicao"><img src="../../static/img/AC%20Black%20Flag.jpg"></li>
        </ul>
    </div>    
</body>
</html>