<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos Comprados</title>
    <link rel="stylesheet" href="../../static/css/estilo%20geral.css">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }

    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador"><a href="Stock.html" >JOGOS</a></li>
            <li id="id_navegador"><a href="PurchaseGames.html" class="ativo">JOGOS COMPRADOS</a></li>
            <li id="id_navegador"><a href="WishList.html">LISTA DE DESEJO</a></li>
        </ul>
    </div>

    <div class="wall"> 
        <h2>Jogos comprados</h2>
    </div>

</body>
</html>