<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos Comprados</title>

    <link rel="stylesheet" th:href="{css/estilo geral.css}">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }

    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador"><a th:href="{Stock}" >JOGOS</a></li>
            <li id="id_navegador"><a th:href="{PurchaseGames}" class="ativo">JOGOS COMPRADOS</a></li>
            <li id="id_navegador"><a th:href="WishList}">LISTA DE DESEJO</a></li>
        </ul>
    </div>

    <div class="wall"> 
        <h2>Jogos comprados</h2>
    </div>

</body>
</html>