<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Paradise</title>


    <link rel="stylesheet" th:href="@{css/estilo navegador.css}">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }

    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador"><a th:href="@{Stock}" class="ativo">JOGOS</a></li>
            <li id="id_navegador"><a th:href="@{PurchaseGames}">JOGOS COMPRADOS</a></li>
            <li id="id_navegador"><a th:href="@{WishList}">LISTA DE DESEJO</a></li>
        </ul>
    </div>

    <div id="cabecalho">
        <h1>Welcome</h1>
        <p>What's will be your next adventure?</p>
    </div>

    <div>
        <ul class="livro">
            <li id="exposicao"><img th:src="@{img/Devil May Cry.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Skyrim.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Spider Man.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Dragon Ball kakarot.jpg}"></li>
        </ul>

        <ul class="livro">
            <li id="exposicao"><img th:src="@{img/AC Valhalla.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/Red Dead Redeption 2.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/AC Odyssey.jpg}"></li>
            <li id="exposicao"><img th:src="@{img/AC Black Flag.jpg}"></li>
        </ul>
    </div>

    <div class="showGames">
        <h2>Devil may Cry</h2>
        <p>Preço: R$200,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Skyrim</h2>
        <p>Preço: R$100,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Marvel's Spider Man</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Dragon Boll Z: Kakarot</h2>
        <p>Preço: R$299,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Valhalla</h2>
        <p>Preço: R$399,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Odyssey</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Black Flag</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>
    </div>
</body>

</html>