<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Paradise</title>

    <link rel="stylesheet" href="../../static/css/estilo%20navegador.css">

    <style>
        body{
            font-family: 'Press Start 2P', cursive;
            font-size: small;
        }

    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<body>
    <div>
        <ul class="navegador">
            <li id="id_navegador"><a href="Stock.html" class="ativo">JOGOS</a></li>
            <li id="id_navegador"><a href="PurchaseGames.html">JOGOS COMPRADOS</a></li>
            <li id="id_navegador"><a href="WishList.html">LISTA DE DESEJO</a></li>
        </ul>
    </div>

    <div id="cabecalho">
        <h1>Welcome</h1>
        <p>What's will be your next adventure?</p>
    </div>

    <div>
        <ul class="livro">
            <li id="exposicao"><img src="../../static/img/Devil%20May%20Cry.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Skyrim.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Spider%20Man.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Dragon%20Ball%20kakarot.jpg"></li>
        </ul>

        <ul class="livro">
            <li id="exposicao"><img src="../../static/img/AC%20Valhalla.jpg"></li>
            <li id="exposicao"><img src="../../static/img/Red%20Dead%20Redeption%202.jpg"></li>
            <li id="exposicao"><img src="../../static/img/AC%20Odyssey.jpg"></li>
            <li id="exposicao"><img src="../../static/img/AC%20Black%20Flag.jpg"></li>
        </ul>
    </div>

    <div class="showGames">
        <h2>Devil may Cry</h2>
        <p>Preço: R$200,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Skyrim</h2>
        <p>Preço: R$100,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Marvel's Spider Man</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Dragon Boll Z: Kakarot</h2>
        <p>Preço: R$299,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Valhalla</h2>
        <p>Preço: R$399,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Odyssey</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>

        <h2>Assassin's Creed Black Flag</h2>
        <p>Preço: R$250,00</p>
        
        <form action="" class="buyOrCell">
            <label for="ck1">Comprar</label>
            <input type="checkbox">

            <label for="ck2">Lista de desejo</label>
            <input type="checkbox">
        </form>

        <hr>
    </div>
</body>

</html>